security:
   password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

   providers:
      app_user_provider:
         id: App\Security\UserProvider

   firewalls:
      dev:
         pattern: ^/(_profiler|_wdt|assets|build)/
         security: false
      session_routes:
         pattern: ^/v1/auth/session$
         stateless: false
      api:
         pattern: ^/v1
         stateless: true
         custom_authenticators:
            - App\Security\ApiTokenAuthenticator
      main:
         lazy: true

   access_control: []

when@test:
   security:
      password_hashers:
         Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
            algorithm: auto
            cost: 4
            time_cost: 3
            memory_cost: 10
